.slider2 {

  &__text-bottom {
    font-size: 17px;
    font-weight: 600;
    line-height: 23px;
    color: #ffffff;
  }
}
.swiper {

  &__img {
  }

  &__content {
  }

  &__text {
  }

  &__button {
  }
}
.swiper-wrapper {
}
.swiper-slide {
}
.text-top {
}
.button {
}
.swiper-pagination {
}
.swiper-button-prev {
}
.swiper-button-next {
}
